body {
    background-color: rgba(201, 224, 213, 0.79);
}

.main_title {
    color: green
}


#start_button, #stop_button {
    width: 25vw;
    height: 10vh;
    display: none;
}

#connect_button {
    width: 25vw;
    height: 10vh;
    margin-bottom: 2rem;
}

#record_button {
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

#record_button:active {
    box-shadow: 0px 0px 15px 5px rgb(192, 192, 192);
}


#motion_button {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}